{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    

  <link rel="stylesheet" href="{% static 'css/style.css' %}" >
</head>
<body>
    <div class="tops">
    <center>
        <p class="text">SignUP</p>
    </center>

   

</div>
    {% if msg %}

    <p class="text">{{msg}}</p>
    
    {% endif %}
    <div class="containers">

        <form method="post" class="site-form" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="submit">
        </form>
    </div>



    
  <script>
    function activatePlaceSearch() {
        
        var input =document.getElementById("id_Address");
        var autocomplete= new google.maps.places.Autocomplete(input);

    }
</script>


    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZxXulD2vgSvOEtaox2Afnm9diyx9aADc&libraries=places&callback=activatePlaceSearch">
</script>
</body>
</html>